.ListContainer{
    display:flex; 
    flex-direction:row;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 95%;
    height: 80vh;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
    
}

.ListButton{
    height: 20vh;
    width: 20vw;
    margin-top: 25vh;
    margin-left: 5vh;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
    transform: translate(0, -9em);
}

.ListTitle{
    margin-top: 2.5vh;
    text-align: center;
}

.ListPrecedent{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 100%;
    font-size: 1em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.ListSwitch{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    width: 8vw;
    border-radius: 5%;
    transform: translate(800px);
}

.navbarnavbar-light{
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    transform: translate(-200px);
}