
.arriere{
    background-color: rgb(21,14,210
    );
    width: 95vw;
    height: 75vh;
    margin-left: 30px;
    border-radius: 1%;
}

.card-stat{
    background-color: white;
    margin: 10px;
    margin-left: 20px ;
    width: 40vw;
    display: flex;
    transform : translate(30px, 9em);
    margin-bottom: 40px;
}


.arriere2{
    width: 20vw;
    height: 30vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    float: right;
    margin-top: 7vh;
    margin-right: 1vw;
    transform: translate(-200px, -12em);
}

.titre{
    transform: translate(60px, 1em);
}

.buttonStatistique{
    transform: translate(65px, 3.5em);
    width: 10vw;
    background-color: rgb(21,14,210);
    color: white;
}

.buttonStatistique:hover{
    background-color: rgb(82, 77, 218);
    color: white;
}

