
.arriere{
    background-color: rgb(21,14,210
    );
    width: 95vw;
    height: 75vh;
    margin-left: 30px;
    border-radius: 1%;
}

.card-stat{
    background-color: white;
    margin: 10px;
    margin-left: 20px ;
    width: 40vw;
    display: flex;
    transform : translate(30px, 9em);
    margin-bottom: 40px;
}

.button{
    width: 15%;
    transform: translate(800px, -1em);

}


